body {
    min-height: 100vh;
    background: #41d9ff8a;
}

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded {
    border-radius: 1rem !important;
}

.nav-pills>li.active {
    position: absolute;
    left: 83%;
}


/* Bracket */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.header {
    height: 10%;
}

.header>h1 {
    margin: auto;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.bracket-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.bracket-level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all ease .5s;
}

.group-level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all ease .5s;
}

.bracket-matchup {
    width: 90%;
    margin: auto;
    max-height: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group {
    width: 90%;
    margin: auto;
    max-height: 100px;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bracket-team {
    height: 45%;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: row;
    transition: all ease .5s;
}

.group-team {
    height: 45%;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: row;
    transition: all ease .5s;
}

.bracket-name {
    font-family: 'Open Sans', sans-serif;
    width: 75%;
    font-size: .75em;
    padding: .2em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2B2B2B;
    text-align: center;
}

.winner>.bracket-name,
.loser>.bracket-name {
    font-weight: bold;
    color: #000000;
}

Hoover effects */ .bracket-team:hover {
    background-color: #000000;
    height: 100%;
    transition: all ease .5s;
}

.bracket-team:hover>.bracket-name {
    overflow: none;
    text-overflow: clip;
    white-space: normal;
    line-height: 1em;
    align-self: center;
    width: 100%;
}

#winner {
    position: relative;
    top: 20%;
    text-align: center;
}