<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/WorldCup2014.css">

    <title>Brazil 2014</title>
</head>

<body>
    <div class="container py-5">

        <!-- Menu -->
        <ul class="nav nav-pills">
            <div class="logo-image">
                <img src="pictures/worldCups/2014_FIFA_World_Cup.png" class="img-fluid">
            </div>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="bracket">Bracket</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">World Cups </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="WorldCup2014">Brazil 2014</a></li>
                    <li><a class="dropdown-item" href="WorldCup2018">Russia 2018</a></li>
                </ul>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="index">Home</a>
            </li>
        </ul>

        <!-- Header -->
        <header class="text-center">
            <h1 class="display-4 mb-4">Brazil 2014</h1>
        </header>

        <!-- The accordion -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <strong>Participating Teams</strong>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table id="teamTable" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Africa</th>
                                        <th>Asia</th>
                                        <th>Central America</th>
                                        <th>Europe</th>
                                        <th>Middle East</th>
                                        <th>North America</th>
                                        <th>Pacific</th>
                                        <th>South America</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Javascript puts in the <td> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Groups</strong>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table id="groupTable" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Group A</th>
                                        <th>Group B</th>
                                        <th>Group C</th>
                                        <th>Group D</th>
                                        <th>Group E</th>
                                        <th>Group F</th>
                                        <th>Group G</th>
                                        <th>Group H</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Javascript puts in the <td> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <strong>Stadiums</strong>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="grid-container">
                            <div id="stadium0" class="grid-item"> </div>
                            <div id="stadium1" class="grid-item"> </div>
                            <div id="stadium2" class="grid-item"> </div>
                            <div id="stadium3" class="grid-item"> </div>
                            <div id="stadium4" class="grid-item"> </div>
                            <div id="stadium5" class="grid-item"> </div>
                            <div id="stadium6" class="grid-item"> </div>
                            <div id="stadium7" class="grid-item"> </div>
                            <div id="stadium8" class="grid-item"> </div>
                            <div id="stadium9" class="grid-item"> </div>
                            <div id="stadium10" class="grid-item"> </div>
                            <div id="stadium11" class="grid-item"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <strong>Winners</strong>
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h1 id="winners">Germany <img src='https://flagcdn.com/de.svg' id="winnerFlag" class="img-fluid"></h1>
                        <div class="grid-container1">
                            <div class="grid-item">
                                <img src='pictures/worldCups/2014Winners.jpg' id="winnerPicture" class="img-fluid">
                            </div>
                            <div class="grid-item">
                                <p>The 2014 World Cup was held in Brazil, the Samba country, and a fruitful culture that many worldwide love. Germany was a POWERHOUSE, to say the least. They went undefeated through the whole competition with six wins and
                                    one draw. In the six wins, one of the most iconic matches was played, Germany beat Brazil 7 to 1; they humiliated the host. Germany's striker, Miroslav Klose, made history with the most World Cup goals with 16 goals
                                    in 24 appearances across four World Cup editions from 2002 to 2014. This was a World Cup to remember, to say the least.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br>

        <!-- Youtube Video -->
        <div class="container1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sSr7knP24J0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- JQuery -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/WorldCup2014.js"></script>

</body>

</html>